services:
  app:
    build:
      context: .  # El contexto es la raíz del proyecto
      dockerfile: Dockerfile  # Nombre del Dockerfile que se encuentra en la raíz
    container_name: back-sv-inventory
    ports:
      - "8090:8090"  # Exponer el puerto 8090 de la aplicación
    environment:
      SPRING_PROFILES_ACTIVE: test  # Activar el perfil de producción (o test)
    env_file:  # Cargar variables de entorno desde el archivo .env
      - .env
    restart: always  # Reiniciar siempre que sea necesario
